.Side-Content {
    display: inline-block;
    position: relative;
    background-color: black;
    margin-top: 20px;
    border-radius: 15px;
    width: 25%;
    height: 85vh;
}
.filter-options {
    margin: 25px;
    padding-top: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.filter-options div {
    width: 100%;
    padding: 25px 5px;
}
.filter-options label {
    width: 50%;
    display: inline-block;
}
.filter-options select {
    width: 50%;
    display: inline-block;
}
